.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 5fr);
}

.grid-item{
  font-size: 60px;
  display: flex;
  height: 100px;
  width: auto;
  color: white;
  justify-content: center;
  align-items: center;
  border: 10px solid yellow;
}
.winner{
  text-align: center;
}
.red{
  color: red;
}

.blue{
  color:blue;
}
